{% extends 'Layout/Default/base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
    <link href="{{ asset('assets/stylesheets/index.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}
    <h1>{{ title }}</h1>
    <div class="link-container">
        {% for link in links %}
            {% include 'Widget/Link/external.html.twig' with {'link': link} %}
        {% endfor %}
    </div>
{% endblock body %}