{% extends 'Layout/Default/base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
    <style>
        body {
            color: white;
            background-color: black;
            padding: 0;
            margin: 0;
            height: 100vh;
            font-family: Roboto, serif;
            display: flex;
            justify-content: space-evenly;
            align-items: stretch;
            flex-direction: column;
        }
        h1 {
            text-align: center;
        }
        .link-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: white;
            display: flex;
            flex-direction: column;
            max-width: min-content;
            alignment-baseline: top;
        }

        a img {
            background-color: white;
            border-radius: 20px;
            padding: 10px;
        }

        a:hover {
            filter: brightness(75%);
        }
    </style>
{% endblock stylesheets %}

{% block body %}
    {% set links = {
        'Plex': {svg: 'assets/images/logo/plex.svg', link: link.plexHostname, description: 'Streaming'},
        'Jellyseer': {svg: 'assets/images/logo/jellyseerr.svg', link: link.jellyseerHostname, description: 'Requêtes de contenu'},
        'QBittorrent': {svg: 'assets/images/logo/qBittorrent.svg', link: link.qbittorrentHostname, description: 'Téléchargeur de torrents'},
        'Radarr': {svg: 'assets/images/logo/radarr.svg', link: link.radarrHostname, description: 'Films'},
        'Sonarr': {svg: 'assets/images/logo/sonarr.svg', link: link.sonarrHostname, description: 'Séries'},
        'Readarr': {svg: 'assets/images/logo/readarr.svg', link: link.readarrHostname, description: 'Livres'},
        'Prowlarr': {svg: 'assets/images/logo/prowlarr.svg', link: link.prowlarrHostname, description: "Gestionnaire d'indexeur"},
        'Bazarr': {svg: 'assets/images/logo/bazarr.svg', link: link.bazarrHostname, description: 'Configurateur'},
        'Duplicati': {svg: 'assets/images/logo/duplicati.svg', link: link.duplicatiHostname, description: 'Système de backup'},
    } %}
    <h1>Zeldo Seedbox</h1>
    <div class="link-container">
        {% for name, content in links %}
            {% include 'Widget/Link/external.html.twig' with {'name': name, 'content': content} %}
        {% endfor %}
    </div>
{% endblock body %}