<a href="{{ link.url }}" target="_blank">
    <img src="{{ asset('assets/images/logo/' ~ link.logo) }}" alt="{{ link.description }} logo" width="150" height="150">
    <p>{{ link.description }}</p>
</a>